<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',    filename='css/admin.css')}}">
    <title>Order</title>
    <link rel="icon" href="icons/Hotend.png">
</head>
    <body onload="checkCookie()">
        <nav>
            <div class="desktopNav">
                <ul calss="nav">
                    <li><a href="{{ url_for('scout') }}">Scout</a></li>
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <div class="nav-right">
                        <li><a href="https://github.com/Team4065/" target="_blank">GitHub</a></li>
                        <li><a href="https://linktr.ee/jet_hend" target="_blank">Website</a><li>
                        <li class="name">NOP</li>
                </ul>
            </div>
            <div class="phoneNav">
                <button class="container" onclick="navButton(this)"> 
                    <ul class="links">
                        <li><a style="color:transparent;">.</a></li>
                        <li calss="#"><a href="{{ url_for('scout') }}">Scout</a></li>
                        <li calss="#"><a href="{{ url_for('admin') }}">Admin</a></li>
                        <li calss="#"><a href="{{ url_for('about') }}">About</a></li>
                        <li calss="#"><a href="https://github.com/Team4065/" target="_blank">GitHub</a></li>
                        <li class="#"><a href="https://linktr.ee/jet_hend" target="_blank">Website</a><li>
                    </ul>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
        </nav>

        <h1 class="big">ADMIN</h1>
        <hr class="bar">
    </body>
    <script type="text/javascript" src="{{url_for('static',    filename='js/admin.js')}}"></script>
</html>
